html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* navagation bar */
header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 100px;
  background: #ffffff;
  width: 100%;
  box-sizing: border-box;
}

header .logo {
  color: rgb(0, 0, 0);
  line-height: 50px;
  font-size: 24px;
  float: left;
  font-weight: 700px;
  margin-top: 10px;
}

.logo {
  width: 200px;
  height: 80px;
  background: url("../images/logo.png") no-repeat;
  background-size: 200px;
}

header nav {
  float: right;
  height: 70px;
  margin-top: 20px;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  height: 30px;
  line-height: 50px;
  padding: 0 20px;
  color: rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  display: block;
}

header nav ul li a:hover {
  color: rgba(0, 0, 0, 0.721);
  border-top: 1px solid rgb(4, 4, 4);
  border-bottom: 1px solid rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700px;
}

.menu-toggle {
  color: rgb(0, 0, 0);
  background: #ffffff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  margin-top: 10px;
}

.landing-picture {
  width: 100%;
  height: 800px;
  background: url("../images/man-cellphone-computer.jpg");
  background-size: cover;
  font-weight: 700;
  color: white;
}

.landing-picture h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 300px;
}

.landing-picture h2 {
  font-size: 50px;
  text-align: center;
}

.landing-picture h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  padding-top: 20px;
}

.readmore-button1 {
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-top: 220px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

.readmore-button1 a {
  color: white;
}

.down-arrow {
  position: absolute;
  right: 50px;
  bottom: 10px;
  font-size: 40px;
}

.down-arrow a {
  color: rgb(255, 255, 255);
}

.services-container {
  width: 100%;
  height: auto;
}

.your-life-container {
  width: 100%;
  margin: auto;
  height: auto;
}

.welcome-myTax-container h1 {
  padding-top: 60px;
  margin-left: 100px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: rgb(255, 34, 34);
}

.welcome-myTax-container .first-paragraph {
  padding-top: 50px;
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 25px;
}

.welcome-myTax-container .second-paragraph {
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: justify;
  margin-left: 150px;
  margin-right: 150px;
  line-height: 25px;
}

.readmore-button {
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

.readmore-button a {
  color: white;
}

.services-container {
  width: 100%;
  height: 800px;
  background: url("../images/hand-shake.jpg");
  background-size: cover;
  font-weight: 700;
  color: white;
}

.services-container h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 300px;
}

.skewed-box-1 {
  background: rgb(26, 26, 26);
  padding: 200px 0;
  transform: skew(0deg, -10deg) translateY(-170px);
}

.container-1 {
  padding: 120px 200px;
  transform: skew(0deg, 10deg);
  display: flex;
  margin: auto;
  box-sizing: border-box;
}

.step-1 {
  position: absolute;
  top: 150px;
  left: 270px;
  width: 200px;
  height: auto;
  text-align: left;
  padding-bottom: 30px;
  margin: auto;
}

.step-1 .fas {
  padding-bottom: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.step-1 h1 {
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(255, 255, 255);
}

.step-1 p {
  color: white;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
}

.step-2 {
  position: absolute;
  top: -10px;
  left: 620px;
  width: 200px;
  height: auto;
  text-align: left;
  padding-bottom: 40px;
  margin: auto;
}

.step-2 .far {
  padding-bottom: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.step-2 h1 {
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(255, 255, 255);
}

.step-2 p {
  color: white;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
}

.step-3 {
  position: absolute;
  top: -150px;
  left: 1000px;
  width: 200px;
  height: auto;
  text-align: left;
  padding-bottom: 40px;
  margin: auto;
}

.step-3 .far {
  padding-bottom: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

.step-3 h1 {
  font-size: 20px;
  font-weight: 100;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid rgb(255, 255, 255);
}

.step-3 p {
  color: white;
  font-weight: 100;
  font-size: 13px;
  line-height: 20px;
}

.skewed-box-2 .container-2 {
  padding-top: 10px;
  transform: skew(0deg, 0deg);
  display: block;
}

.skewed-box-2 h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: rgb(255, 51, 51);
}

.ratings {
  color: rgb(255, 255, 88);
  font-size: 30px;
  text-align: center;
  padding: 10px 0px;
}

.ratings h2 {
  padding-top: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 20px;
}

.skewed-box-2 .relief-button {
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

.contactus-button {
  width: 150px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  border: 1px solid rgb(0, 0, 0);
  background: rgb(0, 0, 0);
}

.contactus-button a {
  color: white;
}

/* form styles */

.logo-container {
  display: flex;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

.sad-logo {
  width: 200px;
  height: 80px;
  background: url("../images/logo.png") no-repeat;
  background-size: 200px;
  margin: auto;
}

.my-tax-logo {
  width: 200px;
  height: 120px;
  background: url("../images/mytax-logo.png") no-repeat;
  background-size: 200px;
  margin: auto;
}

.contact-form-2 {
  width: 100%;
  height: auto;
  background: rgb(43, 43, 43);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  margin: auto;
  padding-top: 40px;
}

.contact-header {
  text-align: center;
  padding-top: 40px;
}

.header-1 {
  font-size: 20px;
  color: rgb(255, 51, 51);
  text-align: center;
  margin-right: 5px;
}

.header-2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.contact-header h1:last-child {
  margin-top: 10px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
}

/* divisor */

.style-divisor {
  width: 600px;
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.border-one {
  width: 230px;
  border-bottom: rgb(103, 103, 103) 1px solid;
  margin: auto;
  padding-top: 10px;
}

.center-triangle {
  height: 0px;
  width: 0px;
  border: 10px solid;

  border-bottom-color: rgb(255, 51, 51);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: auto;
}

.border-two {
  width: 230px;
  border-bottom: rgb(103, 103, 103) 1px solid;
  margin: auto;
  padding-top: 10px;
}

.info-form-container {
  padding: 100px;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.contact-info {
  height: auto;
  margin-left: 500px;
  margin: auto;
}

.contact-form {
  height: auto;
  margin: auto;
}

.phone-container {
  display: flex;
  padding-left: 80px;
}

.phone-number {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.phone-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right;
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

.address-container {
  padding-top: 40px;
  display: flex;
}

.address-info {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
  margin-left: 30px;
}

.address-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right;
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

.email-container {
  padding-top: 40px;
  padding-left: 45px;
  display: flex;
}

.email-info {
  height: 40px;
  font-size: 11px;
  font-weight: 600;
  padding-top: 13px;
  color: rgb(255, 255, 255);
  line-height: 20px;
  letter-spacing: 1px;
  text-align: right;
}

.email-icon {
  height: 40px;
  color: rgb(255, 51, 51);
  font-size: 30px;
  text-align: right;
  border-left: rgb(103, 103, 103) 1px solid;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}


.name-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-top: 20px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.email-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.phone-form {
  width: 150px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.subject-form {
  width: 460px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.message {
  width: 460px;
  height: 70px;
  border: none;
  border-bottom: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  padding-left: 5px;
  padding-bottom: 10px;
}

.send {
  width: 100px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 360px;
  border: rgb(103, 103, 103) 1px solid;
  background: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
}

input {
  color: rgb(255, 255, 255);
}

footer {
  padding: 20px;
  background: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 100;
}

footer span {
  margin: 5px;
}

.social-media {
  color: rgb(150, 5, 5);
  font-size: 30px;
  padding-top: 20px;
}

/* mobile styles */

@media(max-width: 580px) {

  /* nav-bar */
  header {
    padding: 0 20px;
    background: #ffffff;
  }

  header .logo {
    color: white;
    margin-top: 0;
  }

  .logo {
    width: 200px;
    background: url("../images/logo.png") no-repeat;
    background-size: 120px;
    background-position: left;
  }

  .menu-toggle {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    top: 59px;
    left: -100%;
    transition: 0.5s;
    display: block;
  }

  header nav.active {
    left: 0;
  }

  header nav ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  header nav ul li {
    background: rgb(255, 255, 255);
    padding-bottom: 10px;
  }

  header nav ul li a {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #00000000;
  }

  /* landing picture */

  .landing-picture {
    background-position: center;
  }

  .landing-picture h1 {
    font-size: 40px;
    padding-bottom: 10px;
  }

  .landing-picture h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .landing-picture h3 {
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    padding: 5px;
  }

  .relief-button {
    margin: auto;
    margin-top: 40px;
  }

  .down-arrow {
    display: none;
  }

  /* your life section */

  .welcome-myTax-container h1 {
    font-size: 25px;
    margin: 0;
  }

  .welcome-myTax-container .first-paragraph {
    font-size: 14px;
    width: 100%;
    margin: 2px;
  }

  .welcome-myTax-container .second-paragraph {
    font-size: 14px;
    width: 100%;
    margin: 2px;
  }

  /* three steps container */

  .three-steps-container {
    background-position: center;
  }

  .three-steps-container h1 {
    padding-top: 250px;
    font-size: 30px;
    font-weight: 700;
  }

  .three-steps-container h2 {
    padding-top: 30px;
  }

  .container-1 {
    padding: 180px 200px;
  }


  .step-1 {
    position: absolute;
    top: -130px;
    left: 18px;
  }

  .step-2 {
    position: absolute;
    top: 80px;
    left: 159px;
  }

  .step-3 {
    position: absolute;
    top: 280px;
    left: 18px;
  }

  .skewed-box-2 .container-2 h1 {
    font-size: 30px;
    padding: 0;
  }

  .skewed-box-2 .container-2 h2 {
    font-size: 15px;
    padding: 0;
    text-align: justify;
  }


  /* form */

  .logo-container {
    display: block;
  }

  .sad-logo {
    margin: auto;
  }

  .my-tax-logo {
    margin: auto;
  }

  .contact-form-2 {
    height: auto;
  }

  .style-divisor {
    display: block;
    width: 100%;
  }

  .border-one {
    width: 100%;
    border-bottom: rgb(103, 103, 103) 1px solid;
    margin: auto;
  }

  .center-triangle {
    padding-top: 20px;
  }

  .border-two {
    display: none;
  }

  .info-form-container {
    display: block;
    height: auto;
    padding: 30px;
  }

  .contact-info {
    display: block;
    height: auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }

  .name-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .email-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .phone-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .subject-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .message {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .send {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
  }
}

/* tablet styles */
@media(max-width: 768px) {

  /* contact form */

  .contact-form-2 {
    height: auto;
  }

  .style-divisor {
    display: block;
    width: 100%;
  }

  .border-one {
    width: 100%;
    border-bottom: rgb(103, 103, 103) 1px solid;
    margin: auto;
  }

  .center-triangle {
    padding-top: 20px;
  }

  .border-two {
    display: none;
  }

  .info-form-container {
    display: block;
    height: auto;
    padding: 30px;
  }

  .contact-info {
    width: 300px;
    margin: auto;
    height: auto;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }

  .name-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: 10px;
  }

  .email-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .phone-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .subject-form {
    width: 100%;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .message {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    padding-left: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .send {
    width: 100%;
    padding: 10px;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: rgb(103, 103, 103) 1px solid;
    background: rgb(43, 43, 43);
    color: rgb(255, 255, 255);
  }

}